table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ECECEC ;
}
h1, p {
  font-size: 15px;
}

.button {
  margin-top: 15px;
}
th {
  padding-top: 5px;
  padding-bottom: 5px;
}
