<div>
  <mat-card appearance="outlined">
    <div>
      <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="28" fxFlex.lt-sm="100" class="matero-col">
          <p>Loại bệnh án:</p>
        </div>

        <div fxFlex="72" fxFlex.lt-sm="100" class="matero-col">
          <form class="form-field-full">
            <mat-form-field class="m-r-8">
              <mat-label>Loại bệnh án</mat-label>
              <mat-select>
                <mat-option>-- None --</mat-option>
                <mat-option value="1">Bệnh án nội khoa</mat-option>
                <mat-option value="2">Giấy chứng nhận thương tích</mat-option>
                <mat-option value="3">Chạy thận nhân tạo</mat-option>
                <mat-option value="4">Giấy Chuyển Viện</mat-option>
                <mat-option value="5">Tổng kết ra viện</mat-option>
                <mat-option value="6">Phiếu sơ kết 15 ngày điều trị</mat-option>
                <mat-option value="7">Bệnh án tóm tắt</mat-option>
                <mat-option value="8">Chạy thận nhân tạo</mat-option>
                <mat-option value="9">Bệnh án nạo phá thai</mat-option>
                <mat-option value="10">Bệnh án chỉnh hình răng mặt</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col"></div>
    </div>

    <div>
      <div fxFlex="20" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="48" fxFlex.lt-sm="100" class="matero-col">
          <p>Mạch</p>
        </div>

        <div fxFlex="52" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="90" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label>Mạch</mat-label>
                <input matInput>
              </mat-form-field>
            </form>
          </div>
          <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col">
            <p>lần</p>
          </div>
        </div>
      </div>

      <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="22" fxFlex.lt-sm="100" class="matero-col">
          <p>Nhịp thở</p>
        </div>

        <div fxFlex="78" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="90" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label>Nhịp thở</mat-label>
                <input matInput>
              </mat-form-field>
            </form>
          </div>
          <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col">
            <p>lần</p>
          </div>
        </div>
      </div>

      <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
          <p>Chiều cao</p>
        </div>

        <div fxFlex="75" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="90" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label>Chiều cao</mat-label>
                <input matInput>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col">
            <p>cm</p>
          </div>
        </div>
      </div>

      <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="15" fxFlex.lt-sm="100" class="matero-col">
        <p>Chỉ số BMI</p>
      </div>
    </div>

    <div>
      <div fxFlex="20" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="48" fxFlex.lt-sm="100" class="matero-col">
          <p>Nhiệt độ</p>
        </div>

        <div fxFlex="52" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="90" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label>Nhiệt độ</mat-label>
                <input matInput>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col">
            <p>℃</p>
          </div>
        </div>
      </div>

      <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="20" fxFlex.lt-sm="100" class="matero-col">
          <p>Huyết áp</p>
        </div>

        <div fxFlex="80" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="90" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>
            <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col">
              <p>/</p>
            </div>
          </div>

          <div fxFlex="40" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="80" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>

            <div fxFlex="20" fxFlex.lt-sm="100" class="matero-col">
              <p>mmHg</p>
            </div>
          </div>
        </div>
      </div>

      <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
          <p>Cân nặng</p>
        </div>

        <div fxFlex="75" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="90" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col">
            <p>kg</p>
          </div>
        </div>
      </div>

    </div>

    <div>
      <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col">
        <p>Lý do vào viện</p>
      </div>

      <div fxFlex="90" fxFlex.lt-sm="100" class="matero-col">
        <form class="form-field-full">
          <mat-form-field class="m-r-8">
            <mat-label>Lý do vào viện</mat-label>
            <input matInput>
          </mat-form-field>
        </form>
      </div>
    </div>


    <div>
      <div fxFlex="20" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="48" fxFlex.lt-sm="100" class="matero-col">
          <p>Vào ngày thứ</p>
        </div>

        <div fxFlex="52" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label>Ngày thứ</mat-label>
                <input matInput>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>
      <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col">
        <p>của bệnh</p>
      </div>
    </div>

    <div>
      <p>Chẩn đoán của khoa khám bệnh</p>

      <div>
        <div fxFlex="48" fxFlex.lt-sm="100" class="matero-col">
          <p>Theo YHCT</p>
          <form class="form-field-full">
            <mat-form-field class="m-r-8">
              <mat-label>Theo YHCT</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </form>
        </div>

        <div fxFlex="4" fxFlex.lt-sm="100" class="matero-col"></div>

        <div fxFlex="48" fxFlex.lt-sm="100" class="matero-col">
          <p>Theo YHHĐ</p>
          <form class="form-field-full">
            <mat-form-field class="m-r-8">
              <mat-label>Theo YHHĐ</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>

  </mat-card>
</div>

<div>
  <mat-tab-group>
    <mat-tab label="II. Hỏi bệnh">
      <div>
        <div>
          <strong>II. Hỏi bệnh</strong>
        </div>

        <div>
          <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
              <p>1. Quá trình bệnh lý</p>
            </div>

            <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <mat-label>Quá trình bệnh lý</mat-label>
                  <textarea matInput></textarea>
                </mat-form-field>
              </form>
            </div>
          </div>

          <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
              <p>2.1. Tiền sử bản thân</p>
            </div>

            <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <mat-label>Tiền sử bản thân</mat-label>
                  <textarea matInput></textarea>
                </mat-form-field>
              </form>
            </div>
          </div>

          <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
              <p>2.2. Tiền sử gia đình</p>
            </div>

            <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <mat-label>Tiền sử gia đình</mat-label>
                  <textarea matInput></textarea>
                </mat-form-field>
              </form>
            </div>
          </div>
        </div>

        <div>
          <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="80" fxFlex.lt-sm="100" class="matero-col">
            <table></table>
          </div>

          <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col"></div>

        </div>

      </div>
    </mat-tab>

    <mat-tab label="III. Khám bệnh"></mat-tab>

    <mat-tab label="IV. Chẩn đoán khi vào khoa điều trị"></mat-tab>
  </mat-tab-group>
</div>
