<div>
  <mat-card appearance="outlined">
    <div>
      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="2" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="24" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="75" fxFlex.lt-sm="100" class="matero-col">
            <p>Cân nặng:</p>
          </div>
        </div>

        <div fxFlex="76" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="80" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="47" fxFlex.lt-sm="100" class="matero-col">
              <div fxFlex="98" fxFlex.lt-sm="100" class="matero-col">
                <form class="form-field-full">
                  <mat-form-field class="m-r-8">
                    <mat-label>Cân nặng</mat-label>
                    <input matInput>
                  </mat-form-field>
                </form>
              </div>
              <div fxFlex="2" fxFlex.lt-sm="100" class="matero-col">
                <p>Kg</p>
              </div>
            </div>

            <div fxFlex="6" fxFlex.lt-sm="100" class="matero-col"></div>

            <div fxFlex="47" fxFlex.lt-sm="100" class="matero-col">
              <div fxFlex="98" fxFlex.lt-sm="100" class="matero-col">
                <form class="form-field-full">
                  <mat-form-field class="m-r-8">
                    <mat-label>Chiều cao</mat-label>
                    <input matInput>
                  </mat-form-field>
                </form>
              </div>
              <div fxFlex="2" fxFlex.lt-sm="100" class="matero-col">
                <p>cm</p>
              </div>
            </div>

          </div>

          <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col"></div>
          <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col">
            <p>BMI:</p>
          </div>
      </div>
    </div>

    </div>

    <div>
      <div fxFlex="33.33" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="33.33" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="33.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="27" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="75" fxFlex.lt-sm="100" class="matero-col">
            <p>Chẩn đoán:</p>
          </div>

        </div>
        <div fxFlex="73" fxFlex.lt-sm="100" class="matero-col">
          <form class="form-field-full">
            <mat-form-field class="m-r-8">
              <mat-label></mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </form>
        </div>
      </div>

    </div>

    <div>
      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="31" fxFlex.lt-sm="100" class="matero-col">
          <p>Lý do vào viện</p>
        </div>

        <div fxFlex="69" fxFlex.lt-sm="100" class="matero-col">
          <form class="form-field-full">
            <mat-form-field class="m-r-8">
              <mat-label></mat-label>
              <input matInput>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="45" fxFlex.lt-sm="100" class="matero-col"></div>
          <div fxFlex="55" fxFlex.lt-sm="100" class="matero-col">
            <p>Tiền sử</p>
          </div>
        </div>

        <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
          <form class="form-field-full">
           <mat-form-field class="m-r-8">
            <mat-label></mat-label>
            <input matInput>
           </mat-form-field>
          </form>
        </div>
      </div>

      <div fxFlex="2" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="33.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="27" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="90" fxFlex.lt-sm="100" class="matero-col">
            <p>Ngày kinh cuối</p>
          </div>

        </div>

        <div fxFlex="73" fxFlex.lt-sm="100" class="matero-col">
          <form class="form-field-full">
            <mat-form-field class="m-r-8">
              <mat-label></mat-label>
              <input matInput>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>

    <div>
      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
          <p>Nhiệt độ</p>
        </div>

        <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <mat-label></mat-label>
                  <input matInput>
                </mat-form-field>
              </form>
          </div>

          <div fxFlex="12" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="18" fxFlex.lt-sm="100" class="matero-col">
            <p>Mạch</p>
          </div>

          <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <mat-label></mat-label>
                  <input matInput>
                </mat-form-field>
              </form>
          </div>
        </div>

      </div>

      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="28.5" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="40" fxFlex.lt-sm="100" class="matero-col"></div>
          <div fxFlex="60" fxFlex.lt-sm="100" class="matero-col">
            <p>Huyết áp</p>
          </div>
        </div>

        <div fxFlex="71.5" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
            <p>Nhịp thở</p>
          </div>

          <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>

      <div fxFlex="2" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="26" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col"></div>
          <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
            <p>Sẹo mổ cũ</p>
          </div>
        </div>

        <div fxFlex="74" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="40" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label>Chọn...</mat-label>
                <mat-select>
                  <mat-option>-- None --</mat-option>
                  <mat-option value="1"></mat-option>
                  <mat-option value="2"></mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="40" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="75" fxFlex.lt-sm="100" class="matero-col">
              <p>Đau vết mổ</p>
            </div>

            <div fxFlex="20" fxFlex.lt-sm="100" class="matero-col">
              <section class="button">
                <mat-checkbox></mat-checkbox>
              </section>
            </div>
          </div>

          <div fxFlex="15" fxFlex.lt-sm="100" class="matero-col"></div>
        </div>
      </div>
    </div>

    <div>
      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
          <p>Chiều cao tử cung</p>
        </div>

        <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <mat-label></mat-label>
                  <input matInput>
                </mat-form-field>
              </form>
          </div>

          <div fxFlex="12" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="18" fxFlex.lt-sm="100" class="matero-col">
            <p>Vòng bụng</p>
          </div>

          <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <mat-label></mat-label>
                  <input matInput>
                </mat-form-field>
              </form>
          </div>
        </div>

      </div>

      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="28.5" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="40" fxFlex.lt-sm="100" class="matero-col"></div>
          <div fxFlex="60" fxFlex.lt-sm="100" class="matero-col">
            <p>Ngôi thai</p>
          </div>
        </div>

        <div fxFlex="71.5" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
            <p>Cơn co TC</p>
          </div>

          <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>

      <div fxFlex="2" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="26" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="40" fxFlex.lt-sm="100" class="matero-col"></div>
          <div fxFlex="60" fxFlex.lt-sm="100" class="matero-col">
            <p>Tim thai</p>
          </div>
        </div>

        <div fxFlex="74" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="40" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="60" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
              <div class="button">
                <section>
                  <label></label>
                  <mat-radio-group  [(ngModel)]="labelPosition">
                    <mat-radio-button value="1">Đều</mat-radio-button>
                  </mat-radio-group>
                </section>
              </div>
            </div>
            <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col"></div>
            <div fxFlex="45" fxFlex.lt-sm="100" class="matero-col">
              <div class="button">
                <section>
                  <label></label>
                  <mat-radio-group  [(ngModel)]="labelPosition">
                    <mat-radio-button value="2">Không đều</mat-radio-button>
                  </mat-radio-group>
                </section>
              </div>
            </div>
            <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col"></div>
          </div>

        </div>
      </div>

    </div>

    <div>
      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
          <p>Cổ tử cung</p>
        </div>

        <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label>Chọn...</mat-label>
                <mat-select>
                  <mat-option>-- None --</mat-option>
                  <mat-option value="1"></mat-option>
                  <mat-option value="2"></mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="12" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="18" fxFlex.lt-sm="100" class="matero-col">
            <p>Mở</p>
          </div>

          <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <input matInput>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>

      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="47" fxFlex.lt-sm="100" class="matero-col"></div>
          <div fxFlex="53" fxFlex.lt-sm="100" class="matero-col">
            <p>Bishop</p>
          </div>
        </div>

        <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
          <form class="form-field-full">
            <mat-form-field class="m-r-8">
              <input matInput>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div fxFlex="2" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="26" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="43" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="57" fxFlex.lt-sm="100" class="matero-col">
            <p>Đầu ối</p>
          </div>
        </div>

        <div fxFlex="74" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="40" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label>Chọn...</mat-label>
                <mat-select>
                  <mat-option>-- None --</mat-option>
                  <mat-option value="1"></mat-option>
                  <mat-option value="2"></mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="15" fxFlex.lt-sm="100" class="matero-col">
            <p>Lúc</p>
          </div>

          <div fxFlex="40" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label>Thời gian đầu ối</mat-label>
                <input matInput>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
          <p>Tinh thần</p>
        </div>

        <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="65" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label>Chọn...</mat-label>
                <mat-select>
                  <mat-option>-- None --</mat-option>
                  <mat-option value="1"></mat-option>
                  <mat-option value="2"></mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="60" fxFlex.lt-sm="100" class="matero-col"></div>
            <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
              <p>Phù</p>
            </div>
            <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col">
              <div class="button">
                <section>
                  <mat-checkbox></mat-checkbox>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="28.5" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col"></div>
          <div fxFlex="75" fxFlex.lt-sm="100" class="matero-col">
            <p>Protein niệu</p>
          </div>
        </div>

        <div fxFlex="71.5" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <input matInput>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
            <p>Nước ối</p>
          </div>

          <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label>Chọn...</mat-label>
                <mat-select>
                  <mat-option>-- None --</mat-option>
                  <mat-option value="1"></mat-option>
                  <mat-option value="2"></mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>

      <div fxFlex="2" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="32.33" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="26" fxFlex.lt-sm="100" class="matero-col">
          <p>BS cho vào viện</p>
        </div>

        <div fxFlex="74" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="40" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label>Chọn...</mat-label>
                <mat-select>
                  <mat-option>-- None --</mat-option>
                  <mat-option value="1"></mat-option>
                  <mat-option value="2"></mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="3" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="17" fxFlex.lt-sm="100" class="matero-col">
            <p>TG.Khám</p>
          </div>

          <div fxFlex="40" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div fxFlex="48" fxFlex.lt-sm="100" class="matero-col">
        <p>Tiên lượng</p>

        <form class="form-field-full">
          <mat-form-field class="m-r-8">
            <textarea matInput></textarea>
          </mat-form-field>
        </form>
      </div>

      <div fxFlex="4" fxFlex.lt-sm="100" class="matero-col"></div>

      <div fxFlex="48" fxFlex.lt-sm="100" class="matero-col">
        <p>Hướng điều trị</p>

        <form class="form-field-full">
          <mat-form-field class="m-r-8">
            <textarea matInput></textarea>
          </mat-form-field>
        </form>
      </div>
    </div>

  </mat-card>
</div>


