<div>
  <mat-card appearance="outlined">

<div>

  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <div fxFlex="9.8" fxFlex.lt-sm="100" class="matero-col">
      <p>Chẩn đoán:</p>
    </div>
    <div fxFlex="90.2" fxFlex.lt-sm="100" class="matero-col">
      <form class="form-field-full">
        <mat-form-field class="m-r-8">
          <mat-label></mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </form>
    </div>
  </div>


</div>

<div>
    <div fxFlex="50" fxFlex.lt-sm="100" class="matero-col">
      <div fxFlex="20" fxFlex.lt-sm="100" class="matero-col">
        <p>Tử vong lúc</p>
      </div>
      <div fxFlex="80" fxFlex.lt-sm="100" class="matero-col">
        <form class="form-field-full">
          <mat-form-field class="m-r-8">
            <mat-label></mat-label>
            <input matInput>
          </mat-form-field>
        </form>
      </div>
    </div>





    <div fxFlex="50" fxFlex.lt-sm="100" class="matero-col">
      <div fxFlex="20" fxFlex.lt-sm="100" class="matero-col">
        <p>Chủ tọa</p>
      </div>
    <div fxFlex="80" fxFlex.lt-sm="100" class="matero-col">
      <form class="form-field-full">
        <mat-form-field class="m-r-8">
          <mat-label>Chủ tọa</mat-label>
            <mat-select>
              <mat-option>-- None --</mat-option>
              <mat-option value="1"></mat-option>
              <mat-option value="2"></mat-option>
            </mat-select>
        </mat-form-field>
      </form>
      </div>
    </div>
</div>

<div>


  <div fxFlex="50" fxFlex.lt-sm="100" class="matero-col">
    <div fxFlex="20" fxFlex.lt-sm="100" class="matero-col">
      <p>Kiểm điểm tử vong lúc</p>
    </div>
    <div fxFlex="80" fxFlex.lt-sm="100" class="matero-col">
      <form  class="form-field-full">
        <mat-form-field class="m-r-8">
          <mat-label></mat-label>
          <input matInput>
        </mat-form-field>
      </form>
    </div>
  </div>

    <div fxFlex="50" fxFlex.lt-sm="100" class="matero-col">
      <div fxFlex="20" fxFlex.lt-sm="100" class="matero-col">
        <p>Thư kí</p>
      </div>
      <div fxFlex="80" fxFlex.lt-sm="100" class="matero-col">
        <form class="form-field-full">
          <mat-form-field class="m-r-8">
            <mat-label>Thư kí</mat-label>
            <mat-select>
              <mat-option>-- None --</mat-option>
              <mat-option value="1"></mat-option>
              <mat-option value="2"></mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>


</div>

<div>
  <div fxFlex="50" fxFlex.lt-sm="100" class="matero-col">
    <div fxFlex="20" fxFlex.lt-sm="100" class="matero-col">
      <p>Thành viên tham gia</p>
    </div>
    <div fxFlex="80" fxFlex.lt-sm="100" class="matero-col">
      <form class="form-field-full">
        <mat-form-field class="m-r-8">
          <mat-label>Chọn...</mat-label>
          <input matInput>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>

<div>
  <div fxFlex="50" fxFlex.lt-sm="100" class="matero-col">
    <div>
      <p>Tóm tắt quá trình diễn biến bệnh, quá trình điều trị và chăm sóc người bệnh</p>
    </div>
    <div>
      <form class="form-field-full">
        <mat-form-field class="m-r-8">
          <mat-label></mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </form>
    </div>
  </div>


  <div fxFlex="50" fxFlex.lt-sm="100" class="matero-col m-x-148">
    <div>
      <p>Kết luận</p>
    </div>
    <div>
      <form class="form-field-full">
        <mat-form-field class="m-r-8">
          <mat-label></mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </form>
    </div>
  </div>

</div>

  </mat-card>
</div>
