<div>
<mat-card appearance="outlined">
    <div fxFlex="33.33" fxFlex.lt-sm="100" class="matero-col"></div>

<div fxFlex="33.33" fxFlex.lt-sm="100" class="matero-col"></div>

<div fxFlex="33.33" fxFlex.lt-sm="100" class="matero-col">
    <div>
      <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
        <p>Ngày đánh giá:</p>
      </div>

      <div fxFlex="40" fxFlex.lt-sm="100" class="matero-col">
        <form class="form-field-full">
          <mat-form-field appearance="outline">
            <input matInput>
          </mat-form-field>
        </form>
      </div>
    </div>

    <div>
      <div fxFlex="21" fxFlex.lt-sm="100" class="matero-col">
          <p>Cân nặng:</p>
      </div>

      <div fxFlex="79" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="80" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="47" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="98" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field appearance="outline">
                  <mat-label>Cân nặng</mat-label>
                  <input matInput>
                </mat-form-field>
              </form>
            </div>
            <div fxFlex="2" fxFlex.lt-sm="100" class="matero-col">
              <p>Kg</p>
            </div>
          </div>

          <div fxFlex="6" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="47" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="98" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field appearance="outline">
                  <mat-label>Chiều cao</mat-label>
                  <input matInput>
                </mat-form-field>
              </form>
            </div>
            <div fxFlex="2" fxFlex.lt-sm="100" class="matero-col">
              <p>cm</p>
            </div>
          </div>

        </div>

        <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col"></div>
        <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col">
          <p>BMI:</p>
        </div>
    </div>

  </div>
    <div>
      <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
        <p>Chẩn đoán:</p>
      </div>

      <div fxFlex="75" fxFlex.lt-sm="100" class="matero-col">
        <form class="form-field-full">
          <mat-form-field appearance="outline">
            <textarea matInput></textarea>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</mat-card>
</div>
