<div>
  <mat-card appearance="outlined">
    <mat-card-content>
      <div>
        <div fxFlex="43.5" fxFlex.lt-sm="100" class="matero-col">
          <strong>III. Chẩn đoán</strong>
        </div>

        <div fxFlex="49" fxFlex.lt-sm="100" class="matero-col">
          <p>MÃ</p>
        </div>

        <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
          <p>MÃ</p>
        </div>
      </div>

      <div>
        <div fxFlex="50.5" fxFlex.lt-sm="100" class="matero-col">
          <p>20. Nơi chuyển đến:</p>
        </div>

        <div fxFlex="49" fxFlex.lt-sm="100" class="matero-col">
          <p>25. Ra viện</p>
        </div>
      </div>

      <div>
        <div fxFlex="50.5" fxFlex.lt-sm="100" class="matero-col">
          <div>
            <div fxFlex="78" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>

            <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>
            <div fxFlex="12" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>
          </div>

          <div>
            <p>21. KKB, Cấp cứu:</p>
          </div>
        </div>

        <div fxFlex="49" fxFlex.lt-sm="100" class="matero-col">
          <p>+ Bệnh chính: <i>(Tổn thương)</i></p>
          <div>
            <div fxFlex="78" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>

            <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>
            <div fxFlex="12" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>
          </div>
        </div>

      </div>

      <div>
        <div fxFlex="50.5" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="78" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <input matInput>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>
          <div fxFlex="12" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <input matInput>
              </mat-form-field>
            </form>
          </div>
        </div>

        <div fxFlex="49" fxFlex.lt-sm="100" class="matero-col">
          <div>
            <div fxFlex="15" fxFlex.lt-sm="100" class="matero-col">
              <p><i>(nguyên nhân):</i></p>
            </div>
            <div fxFlex="63" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>

            <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>
            <div fxFlex="12" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div fxFlex="50.5" fxFlex.lt-sm="100" class="matero-col">
          <div>
            <p>22. Khi vào khoa điều trị:</p>
          </div>
          <div>
            <div fxFlex="78" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>

            <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>
            <div fxFlex="12" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>
          </div>
        </div>

        <div fxFlex="49" fxFlex.lt-sm="100" class="matero-col">
          <p>+ Bệnh kèm theo</p>
          <div>
            <div fxFlex="78" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>

            <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>
            <div fxFlex="12" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div fxFlex="50.5" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="15" fxFlex.lt-sm="100" class="matero-col">
            <p>- Tai biến:</p>
          </div>

          <div fxFlex="15" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="15" fxFlex.lt-sm="100" class="matero-col">
            <p>- Biến chứng:</p>
          </div>
        </div>

        <div fxFlex="49" fxFlex.lt-sm="100" class="matero-col">
          <p>+ Chẩn đoán trước phẫu thuật:</p>
        </div>
      </div>

      <div>
        <div fxFlex="50.5" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="20" fxFlex.lt-sm="100" class="matero-col">
            <p><i>1.Do phẫu thuật</i></p>
          </div>

          <div fxFlex="8" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="15" fxFlex.lt-sm="100" class="matero-col">
            <p><i>2.Do gây mê</i></p>
          </div>

          <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="20" fxFlex.lt-sm="100" class="matero-col">
            <p><i>3.Do nhiễm khuẩn</i></p>
          </div>

          <div fxFlex="8" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col">
            <p><i>4.Khác</i></p>
          </div>
        </div>

        <div fxFlex="49" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="78" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <input matInput>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>
          <div fxFlex="12" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <input matInput>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>

      <div>
        <div fxFlex="50.5" fxFlex.lt-sm="100" class="matero-col">
          <p>23. Tổng số ngày điều trị sau phẫu thuật:</p>
        </div>
        <div fxFlex="49" fxFlex.lt-sm="100" class="matero-col">
          <p>+ Chẩn đoán sau phẫu thuật</p>
        </div>
      </div>

      <div>
        <div fxFlex="50.5" fxFlex.lt-sm="100" class="matero-col">
          <p>24. Tổng số lần phẫu thuật:</p>
        </div>
        <div fxFlex="49" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="78" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <input matInput>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>
          <div fxFlex="12" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <input matInput>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</div>


