<div class='row'>
  <div class='col-3' >
    <mat-form-field class='full-width' appearance='outline'>
      <mat-label>{{'emr.T' | translate}}:</mat-label>
      <input matInput [(ngModel)]='TNMGiaiDoan.T'>
    </mat-form-field>
  </div>
  <div class='col-3' >
    <mat-form-field class='full-width' appearance='outline'>
      <mat-label>{{'emr.N' | translate}}:</mat-label>
      <input matInput [(ngModel)]='TNMGiaiDoan.N'>
    </mat-form-field>
  </div>
  <div class='col-3' >
    <mat-form-field class='full-width' appearance='outline'>
      <mat-label>{{'emr.M' | translate}}:</mat-label>
      <input matInput [(ngModel)]='TNMGiaiDoan.M'>
    </mat-form-field>
  </div>
  <div class='col-3' >
    <mat-form-field class='full-width' appearance='outline'>
      <mat-label>{{'emr.giai_doan' | translate}}:</mat-label>
      <input matInput [(ngModel)]='TNMGiaiDoan.GIAI_DOAN'>
    </mat-form-field>
  </div>
</div>
