<app-hanh-chinh
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [patientInfoHis]='patientInfoHis'></app-hanh-chinh>

<app-quan-ly-nguoi-benh
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [quanLyNguoiBenh]='quanLyNguoiBenh'></app-quan-ly-nguoi-benh>

<app-hoi-benh-benh-an-khuc-xa
  [patientInfo]='patientInfo'></app-hoi-benh-benh-an-khuc-xa>

<app-kham-benh
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [ketquakb]='ketquakb'></app-kham-benh>

<app-kham-mat-benh-an-phau-thuat-khuc-xa
  [patientInfo]='patientInfo'
  [ketquakb]='ketquakb'>
</app-kham-mat-benh-an-phau-thuat-khuc-xa>


