<app-hanh-chinh
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [patientInfoHis]='patientInfoHis'></app-hanh-chinh>

<app-quan-ly-nguoi-benh
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [quanLyNguoiBenh]='quanLyNguoiBenh'></app-quan-ly-nguoi-benh>

<app-chan-doan
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [chanDoan]='chanDoan'></app-chan-doan>

<app-tinh-trang-ra-vien
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'></app-tinh-trang-ra-vien>

<app-ly-do-vao-vien
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [lyDoVaoVienNgoaiTru]='lyDoVaoVienNgoaiTru'></app-ly-do-vao-vien>

<app-tien-su-benh [patientInfo]='patientInfo'
                  [tenBenhAn]='tenBenhAn'>
</app-tien-su-benh>

<app-kham-mat-tre-em [patientInfo]='patientInfo'
                     [tenBenhAn]='tenBenhAn'></app-kham-mat-tre-em>

<app-kham-benh
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [ketquakb]='ketquakb'></app-kham-benh>

<app-chan-doan-khi-vao-khoa-dieu-tri [patientInfo]='patientInfo'
                                     [tenBenhAn]='tenBenhAn'
></app-chan-doan-khi-vao-khoa-dieu-tri>

<app-tien-luong [patientInfo]='patientInfo' [tenBenhAn]='tenBenhAn'
></app-tien-luong>

<app-dien-bien-benh-y-lenh [patientInfo]='patientInfo'></app-dien-bien-benh-y-lenh>

<app-tong-ket-benh-an
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [ketquaCLS]='ketquaCLS'></app-tong-ket-benh-an>
