<div>
  <mat-card appearance="outlined">
    <div>
      <h1>B. Tổng kết bệnh án</h1>

      <div>
        <strong>1. Quá trình bệnh lý và diễn biến lâm sàng:</strong>
        <div>
          <form class="form-field-full">
            <mat-form-field class="m-r-8">
              <textarea matInput></textarea>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div>
        <strong>2. Tóm tắt kết quả xét nghiệm cận lâm sàng có giá trị chẩn đoán:</strong>
        <div>
          <form class="form-field-full">
            <mat-form-field class="m-r-8">
              <textarea matInput></textarea>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div>
        <strong>3. Phương pháp điều trị:</strong>
        <div>
          <form class="form-field-full">
            <mat-form-field class="m-r-8">
              <textarea matInput></textarea>
            </mat-form-field>
          </form>
        </div>

        <div>
          <div fxFlex="10" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="15" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex=45 fxFlex.lt-sm="100" class="matero-col">
              <p>- Phẫu thuật</p>
            </div>
            <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
              <section class="button2">
                <mat-checkbox></mat-checkbox>
              </section>
            </div>
          </div>

          <div fxFlex="40" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="15" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex=45 fxFlex.lt-sm="100" class="matero-col">
              <p>- Thủ thuật</p>
            </div>
            <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
              <section class="button2">
                <mat-checkbox></mat-checkbox>
              </section>
            </div>
          </div>
        </div>
      </div>

      <div>
        <table style="width:100%">
          <tr>
            <th style="width:15%">Giờ, ngày</th>
            <th style="width:35%">Phương pháp phẫu thuật/vô cảm</th>
            <th style="width:25%">Bác sỹ phẫu thuật</th>
            <th style="width:25%">Bác sĩ gây mê</th>
          </tr>

          <tr>
            <td>
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </td>
            <td>
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </td>
            <td>
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </td>
            <td>
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </td>
          </tr>

          <tr>
            <td>
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </td>
            <td>
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </td>
            <td>
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </td>
            <td>
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </td>
          </tr>

          <tr>
            <td>
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </td>
            <td>
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </td>
            <td>
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </td>
            <td>
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </td>
          </tr>
        </table>
      </div>

      <div style="margin-top:20px">
        <strong>4. Tình trạng người bệnh ra viện:</strong>
        <div>
          <form class="form-field-full">
            <mat-form-field class="m-r-8">
              <textarea matInput></textarea>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div>
        <strong>5. Hướng điều trị và các chế độ tiếp theo:</strong>
        <div>
          <form class="form-field-full">
            <mat-form-field class="m-r-8">
              <textarea matInput></textarea>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div>
        <div fxFlex="40" fxFlex.lt-sm="100" class="matero-col">
          <table style="width:100%">
            <tr>
              <th colspan="2"><strong>Hồ sơ,phim,ảnh</strong></th>
            </tr>

            <tr>
              <th style="width:70%"><strong>Loại</strong></th>
              <th style="width:30%"><strong>Số tờ</strong></th>
            </tr>

            <tr>
              <td>- X-quang</td>
              <th>
                <form>
                  <mat-form-field class="m-r-8">
                    <input matInput>
                  </mat-form-field>
                </form>
              </th>
            </tr>

            <tr>
              <td>- CT Scanner</td>
              <th>
                <form>
                  <mat-form-field class="m-r-8">
                    <input matInput>
                  </mat-form-field>
                </form>
              </th>
            </tr>

            <tr>
              <td>- Siêu âm</td>
              <th>
                <form>
                  <mat-form-field class="m-r-8">
                    <input matInput>
                  </mat-form-field>
                </form>
              </th>
            </tr>

            <tr>
              <td>- Xét nghiệm</td>
              <th>
                <form>
                  <mat-form-field class="m-r-8">
                    <input matInput>
                  </mat-form-field>
                </form>
              </th>
            </tr>

            <tr>
              <td>- Khác</td>
              <th>
                <form>
                  <mat-form-field class="m-r-8">
                    <input matInput>
                  </mat-form-field>
                </form>
              </th>
            </tr>

            <tr>
              <td>- Toàn bộ hồ sơ</td>
              <th>
                <form>
                  <mat-form-field class="m-r-8">
                    <input matInput>
                  </mat-form-field>
                </form>
              </th>
            </tr>
          </table>
        </div>
      </div>

    </div>

  </mat-card>
</div>
