<app-hanh-chinh
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [patientInfoHis]='patientInfoHis'></app-hanh-chinh>

<app-quan-ly-nguoi-benh [tenBenhAn]='tenBenhAn'
                        [patientInfo]='patientInfo'
                        [quanLyNguoiBenh]='quanLyNguoiBenh'>

</app-quan-ly-nguoi-benh>

<app-chan-doan [chanDoan]='chanDoan'
               [patientInfo]='patientInfo'
               [tenBenhAn]='tenBenhAn'>
</app-chan-doan>

<app-tinh-trang-ra-vien
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [patientOutData]="patientOutData"></app-tinh-trang-ra-vien>

<app-ly-do-vao-vien [tenBenhAn]='tenBenhAn'
                    [lyDoVaoVienNgoaiTru]='lyDoVaoVienNgoaiTru'
                    [patientInfo]='patientInfo'>
</app-ly-do-vao-vien>

<app-hoi-benh [patientInfo]='patientInfo'
              [hoibenhNgoaiTru]='hoibenhNgoaiTru'
              [tenBenhAn]='tenBenhAn'>
</app-hoi-benh>
<app-kham-benh [patientInfo]='patientInfo'
               [tenBenhAn]='tenBenhAn'
               [ketquakb]='ketquakb'>
</app-kham-benh>

<app-chan-doan-khi-vao-khoa-dieu-tri [patientInfo]='patientInfo'
                                     [tenBenhAn]='tenBenhAn'
></app-chan-doan-khi-vao-khoa-dieu-tri>

<app-tien-luong [patientInfo]='patientInfo' [tenBenhAn]='tenBenhAn'></app-tien-luong>
<app-tong-ket-benh-an [patientInfo]='patientInfo'
                      [ketquaCLS]='ketquaCLS'
                      [tenBenhAn]='tenBenhAn'></app-tong-ket-benh-an>
