<app-hanh-chinh
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [patientInfoHis]='patientInfoHis'></app-hanh-chinh>

<app-quan-ly-nguoi-benh
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [quanLyNguoiBenh]='quanLyNguoiBenh'></app-quan-ly-nguoi-benh>

<app-chan-doan
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [chanDoan]='chanDoan'></app-chan-doan>

<app-tinh-trang-ra-vien
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'></app-tinh-trang-ra-vien>

<app-ly-do-vao-vien
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [lyDoVaoVienNgoaiTru]='lyDoVaoVienNgoaiTru'></app-ly-do-vao-vien>

<app-hoi-benh-so-sinh
  [patientInfo]='patientInfo'></app-hoi-benh-so-sinh>

<app-kham-benh
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [ketquakb]='ketquakb'
  counter_khamBenh='III. '></app-kham-benh>

<app-tong-ket-benh-an
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [ketquaCLS]='ketquaCLS'></app-tong-ket-benh-an>
