<div class='tienThaiPaRa'>
  <label class='tienThai'>- {{"hoi_benh_noi_khoa.kham_benh.tien_thai_para" | translate}}:</label>
  <input class='PaRa' type="number" min='0' max='99' maxlength="2" size="1" [(ngModel)]='tienthaiPara.SO_CON_SINH'>
  <input class='PaRa' type="number" min='0' max='99' maxlength="2" size="1" [(ngModel)]='tienthaiPara.SO_CON_SINH_SOM'>
  <input class='PaRa' type="number" min='0' max='99' maxlength="2" size="1" [(ngModel)]='tienthaiPara.SO_THAI_SAY'>
  <input class='PaRa' type="number" min='0' max='99' maxlength="2" size="1" [(ngModel)]='tienthaiPara.SO_CON_SONG'>
  <label class='giaiThichPaRa'>{{'emr.chu_thich_tien_thai'|translate}}</label>
</div>
