<div>
  <mat-card appearance="outlined">
    <div>
      <h1>III. Khám bệnh:</h1>
    </div>

    <div>
      <p><strong>1. Toàn thân:</strong><i> (ý thức, da niêm mạc, hệ thống hạch, tuyến giáp, vị trí, kích thước, số lượng, di động v.v...)</i></p>

      <div>
        <div fxFlex="75" fxFlex.lt-sm="100" class="matero-col">
          <form class="form-field-full">
            <mat-form-field class="m-r-8">
              <textarea matInput></textarea>
            </mat-form-field>
          </form>
        </div>

        <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

        <div fxFlex="20" fxFlex.lt-sm="100" class="matero-col">
          <div>
            <div fxFlex="15" fxFlex.lt-sm="100" class="matero-col">
              <p><i>Mạch</i></p>
            </div>

            <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>

            <div fxFlex="15" fxFlex.lt-sm="100" class="matero-col">
              <p><i>lần/ph</i></p>
            </div>
          </div>

          <div>
            <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
              <p><i>Nhiệt độ</i></p>
            </div>

            <div fxFlex="65" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>

            <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col">
              <p><i>°C</i></p>
            </div>
          </div>

          <div>
            <div fxFlex="24" fxFlex.lt-sm="100" class="matero-col">
              <p><i>Huyết áp</i></p>
            </div>

            <div fxFlex="61" fxFlex.lt-sm="100" class="matero-col">
              <div fxFlex="49" fxFlex.lt-sm="100" class="matero-col">
                <form class="form-field-full">
                  <mat-form-field class="m-r-8">
                    <input matInput>
                  </mat-form-field>
                </form>
              </div>

              <div fxFlex="2" fxFlex.lt-sm="100" class="matero-col">
                <p>/</p>
              </div>

              <div fxFlex="49" fxFlex.lt-sm="100" class="matero-col">
                <form class="form-field-full">
                  <mat-form-field class="m-r-8">
                    <input matInput>
                  </mat-form-field>
                </form>
              </div>
            </div>

            <div fxFlex="15" fxFlex.lt-sm="100" class="matero-col">
              <p><i>mmHg</i></p>
            </div>
          </div>

          <div>
            <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
              <p><i>Nhịp thở</i></p>
            </div>

            <div fxFlex="60" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>

            <div fxFlex="15" fxFlex.lt-sm="100" class="matero-col">
              <p><i>lần/ph</i></p>
            </div>
          </div>

          <div>
            <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
              <p><i>Cân nặng</i></p>
            </div>

            <div fxFlex="65" fxFlex.lt-sm="100" class="matero-col">
              <form class="form-field-full">
                <mat-form-field class="m-r-8">
                  <input matInput>
                </mat-form-field>
              </form>
            </div>

            <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col">
              <p><i>kg</i></p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div>
      <p><strong>2. Bệnh ngoại khoa:</strong></p>
      <form class="form-field-full">
        <mat-form-field class="m-r-8">
          <textarea matInput></textarea>
        </mat-form-field>
      </form>
    </div>

    <div>
      <p style="margin-bottom: 20px"><strong>3. Các cơ quan:</strong></p>

      <div>
        <p>+ Tuần hoàn:</p>
        <form class="form-field-full">
          <mat-form-field class="m-r-8">
            <textarea matInput></textarea>
          </mat-form-field>
        </form>
      </div>

      <div>
        <p>+ Hô hấp:</p>
        <form class="form-field-full">
          <mat-form-field class="m-r-8">
            <textarea matInput></textarea>
          </mat-form-field>
        </form>
      </div>

      <div>
        <p>+ Tiêu hóa:</p>
        <form class="form-field-full">
          <mat-form-field class="m-r-8">
            <textarea matInput></textarea>
          </mat-form-field>
        </form>
      </div>

      <div>
        <p>+ Thận- Tiết niệu- Sinh dục:</p>
        <form class="form-field-full">
          <mat-form-field class="m-r-8">
            <textarea matInput></textarea>
          </mat-form-field>
        </form>
      </div>

      <div>
        <p>+ Thần kinh:</p>
        <form class="form-field-full">
          <mat-form-field class="m-r-8">
            <textarea matInput></textarea>
          </mat-form-field>
        </form>
      </div>

      <div>
        <p>+ Cơ- Xương-Khớp:</p>
        <form class="form-field-full">
          <mat-form-field class="m-r-8">
            <textarea matInput></textarea>
          </mat-form-field>
        </form>
      </div>

      <div>
        <p>+ Tai- Mũi- Họng:</p>
        <form class="form-field-full">
          <mat-form-field class="m-r-8">
            <textarea matInput></textarea>
          </mat-form-field>
        </form>
      </div>

      <div>
        <p>+ Răng- Hàm- Mặt:</p>
        <form class="form-field-full">
          <mat-form-field class="m-r-8">
            <textarea matInput></textarea>
          </mat-form-field>
        </form>
      </div>

      <div>
        <p>+ Mắt:</p>
        <form class="form-field-full">
          <mat-form-field class="m-r-8">
            <textarea matInput></textarea>
          </mat-form-field>
        </form>
      </div>

      <div>
        <p>+ Nội tiết, dinh dưỡng và các bệnh lý khác:</p>
        <form class="form-field-full">
          <mat-form-field class="m-r-8">
            <textarea matInput></textarea>
          </mat-form-field>
        </form>
      </div>
    </div>

    <div>
      <p><strong>4. Các xét nghiệm lâm sàng cần làm:</strong></p>
      <form class="form-field-full">
        <mat-form-field class="m-r-8">
          <textarea matInput></textarea>
        </mat-form-field>
      </form>
    </div>

    <div>
      <p><strong>5. Tóm tắt bệnh án:</strong></p>
      <form class="form-field-full">
        <mat-form-field class="m-r-8">
          <textarea matInput></textarea>
        </mat-form-field>
      </form>
    </div>



  </mat-card>
</div>
