<app-hanh-chinh [patientInfo]='patientInfo'></app-hanh-chinh>

<app-quan-ly-nguoi-benh [ID_BENH_AN]='ID_BENH_AN'
                        [patientInfo]='patientInfo'
                        [quanLyNguoiBenh]='quanLyNguoiBenh'>

</app-quan-ly-nguoi-benh>
<app-ly-do-vao-vien [ID_BENH_AN]='ID_BENH_AN'
                    [lyDoVaoVienNgoaiTru]='lyDoVaoVienNgoaiTru'
                    [patientInfo]='patientInfo'>
</app-ly-do-vao-vien>
<app-chan-doan [chanDoan]='chanDoan'
               [patientInfo]='patientInfo'
               [ID_BENH_AN]='ID_BENH_AN'>
</app-chan-doan>
<app-hoi-benh [patientInfo]='patientInfo'
              [hoibenhNgoaiTru]='hoibenhNgoaiTru'
              [ID_BENH_AN]='ID_BENH_AN'>
</app-hoi-benh>
<app-kham-benh [patientInfo]='patientInfo'
               [ID_BENH_AN]='ID_BENH_AN'
               [ketquakb]='ketquakb'>

</app-kham-benh>
<!--<app-chan-doan-khi-vao-khoa-dieu-tri [patientInfo]='patientInfo'></app-chan-doan-khi-vao-khoa-dieu-tri>-->
<app-tien-luong [patientInfo]='patientInfo'></app-tien-luong>
<app-tong-ket-benh-an [patientInfo]='patientInfo'
                      [ketquaCLS]='ketquaCLS'
                      [ID_BENH_AN]='ID_BENH_AN'></app-tong-ket-benh-an>
