<div>
  <mat-card appearance="outlined">
    <div>
      <strong>IV. Tình trạng ra viện</strong>

      <div>
        <div fxFlex="35.5" fxFlex.lt-sm="100" class="matero-col">
          <p>26. Kết quả điều trị</p>
        </div>

        <div fxFlex="64" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="20" fxFlex.lt-sm="100" class="matero-col">
            <p >28. Tình hình tử vong:</p>
          </div>

          <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
              <mat-form-field class="m-r-8 ">
                <mat-label></mat-label>
                <input matInput [matDatepicker]="picker7">
              </mat-form-field>
            </div>

            <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col">
              <div class="button">
                <mat-datepicker-toggle matIconSuffix [for]="picker7"></mat-datepicker-toggle>
                <mat-datepicker #picker7></mat-datepicker>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="50" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex=70 fxFlex.lt-sm="100" class="matero-col">
              <p><i>1. Khỏi</i></p>
            </div>
            <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
              <section class="button2">
                <mat-checkbox></mat-checkbox>
              </section>
            </div>
          </div>

          <div fxFlex="50" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="60" fxFlex.lt-sm="100" class="matero-col">
              <p><i>4. Nặng hơn</i></p>
            </div>
            <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
              <section class="button2">
                <mat-checkbox></mat-checkbox>
              </section>
            </div>
          </div>
        </div>

        <div fxFlex="65" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
              <p><i>1. Do bệnh</i></p>
            </div>
            <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
              <section class="button2">
                <mat-checkbox></mat-checkbox>
              </section>
            </div>
          </div>

          <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
              <p><i>2. Do tai biến điều trị</i></p>
            </div>
            <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
              <section class="button2">
                <mat-checkbox></mat-checkbox>
              </section>
            </div>
          </div>

          <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

          <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
              <p><i>3. Khác</i></p>
            </div>
            <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
              <section class="button2">
                <mat-checkbox></mat-checkbox>
              </section>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div>
      <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="50" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
            <p><i>2. Đỡ, giảm</i></p>
          </div>
          <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
            <section class="button2">
              <mat-checkbox></mat-checkbox>
            </section>
          </div>
        </div>
      </div>

      <div fxFlex="65" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
            <p><i>1. Trong 24 giờ vào viện</i></p>
          </div>
          <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
            <section class="button2">
              <mat-checkbox></mat-checkbox>
            </section>
          </div>
        </div>

        <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

        <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
            <p><i>2. Ngoài 24 giờ vào viện</i></p>
          </div>
          <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
            <section class="button2">
              <mat-checkbox></mat-checkbox>
            </section>
          </div>
        </div>

        <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>

        <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
            <p><i>3. Trong 72 giờ vào viện</i></p>
          </div>
          <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
            <section class="button2">
              <mat-checkbox></mat-checkbox>
            </section>
          </div>
        </div>

      </div>
    </div>

    <div>
      <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="50" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
            <p><i>3. Không thay đổi</i></p>
          </div>
          <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
            <section class="button2">
              <mat-checkbox></mat-checkbox>
            </section>
          </div>
        </div>
      </div>

      <div fxFlex="65" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
          <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
            <p>29. Nguyên nhân chính tử vong:</p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
        <p>27. Giải phẫu bệnh <i>(khi có sinh thiết)</i>:</p>
      </div>

      <div fxFlex="65" fxFlex.lt-sm="100" class="matero-col">
        <div>
          <div fxFlex="83" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <input matInput>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="4" fxFlex.lt-sm="100" class="matero-col"></div>
          <div fxFlex="8" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <input matInput>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
        <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col p-r-0">
          <div fxFlex="65" fxFlex.lt-sm="100" class="matero-col">
            <p><i>1. Lành tính</i></p>
          </div>
          <div fxFlex="" fxFlex.lt-sm="100" class="matero-col p-l-0">
            <section class="button2">
              <mat-checkbox></mat-checkbox>
            </section>
          </div>
        </div>

        <div fxFlex="33" fxFlex.lt-sm="100" class="matero-col p-r-0">
          <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
            <p><i>2. Nghi ngờ</i></p>
          </div>
          <div fxFlex="" fxFlex.lt-sm="100" class="matero-col p-l-0">
            <section class="button2">
              <mat-checkbox></mat-checkbox>
            </section>
          </div>
        </div>

        <div fxFlex="33" fxFlex.lt-sm="100" class="matero-col p-r-0">
          <div fxFlex="55" fxFlex.lt-sm="100" class="matero-col">
            <p><i>3. Ác tính</i></p>
          </div>
          <div fxFlex="" fxFlex.lt-sm="100" class="matero-col p-l-0">
            <section class="button2 ">
              <mat-checkbox></mat-checkbox>
            </section>
          </div>
        </div>

      </div>

      <div fxFlex="65" fxFlex.lt-sm="100" class="matero-col">
        <div>
          <div fxFlex="30" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="70" fxFlex.lt-sm="100" class="matero-col">
              <p>30. Khám nghiệm tử thi:</p>
            </div>
            <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
              <section class="button2">
                <mat-checkbox></mat-checkbox>
              </section>
            </div>
          </div>

          <div fxFlex="5" fxFlex.lt-sm="100" class="matero-col"></div>
          
        </div>

        <div class="m-t-12">
          <div fxFlex="35" fxFlex.lt-sm="100" class="matero-col">
            <div fxFlex="" fxFlex.lt-sm="100" class="matero-col">
              <p>31. Chẩn đoán giải phẫu tử thi:</p>
            </div>
          </div>
        </div>

        <div>
          <div fxFlex="83" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <input matInput>
              </mat-form-field>
            </form>
          </div>

          <div fxFlex="4" fxFlex.lt-sm="100" class="matero-col"></div>
          <div fxFlex="8" fxFlex.lt-sm="100" class="matero-col">
            <form class="form-field-full">
              <mat-form-field class="m-r-8">
                <input matInput>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>
    </div>

  </mat-card>
</div>

