<app-hanh-chinh [patientInfo]='patientInfo' [ID_BENH_AN]='ID_BENH_AN'></app-hanh-chinh>
<app-ly-do-vao-vien [ID_BENH_AN]='ID_BENH_AN'
                    [patientInfo]='patientInfo'
                    [lyDoVaoVienNgoaiTru]='lyDoVaoVienNgoaiTru'>

</app-ly-do-vao-vien>
<app-hoi-benh
  [patientInfo]='patientInfo'
  [ID_BENH_AN]='ID_BENH_AN'
  [hoibenhNgoaiTru]='hoibenhNgoaiTru'></app-hoi-benh>

<app-kham-benh
  [patientInfo]='patientInfo'
  [ID_BENH_AN]='ID_BENH_AN'
  [ketquakb]='ketquakb'>
</app-kham-benh>

<app-tong-ket-benh-an [patientInfo]='patientInfo'
                      [ID_BENH_AN]='ID_BENH_AN'
                      [ketquaCLS]='ketquaCLS'></app-tong-ket-benh-an>

<!-- <app-quan-ly-nguoi-benh [ID_BENH_AN]='ID_BENH_AN'
                        [patientInfo]='patientInfo'
                        [quanLyNguoiBenh]='quanLyNguoiBenh'>
</app-quan-ly-nguoi-benh>
<app-chan-doan
               [ID_BENH_AN]='ID_BENH_AN'
               [chanDoan]='chanDoan'
               [patientInfo]='patientInfo'>

</app-chan-doan> -->


