.gender {
    border: 1px solid rgb(0, 0, 0, 0.2);
    width: 32.5% !important;
    height: 24.5px;
    margin-top: 3.5px;
    border-radius: 0.4em;
    font-size: 12px;
}
app-emr-date{ .mat-mdc-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-mdc-icon-button .mat-icon, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-mdc-icon-button .mat-icon {
    margin-top: 10px !important;
}}