<app-hanh-chinh
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [patientInfoHis]='patientInfoHis'></app-hanh-chinh>

<app-ly-do-vao-vien
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [lyDoVaoVienNgoaiTru]='lyDoVaoVienNgoaiTru'></app-ly-do-vao-vien>

<app-hoi-benh
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [hoibenhNgoaiTru]='hoibenhNgoaiTru'></app-hoi-benh>

<app-kham-benh
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [ketquakb]='ketquakb'
  counter_khamBenh='IV. '></app-kham-benh>
<app-tong-ket-benh-an
  [patientInfo]='patientInfo'
  [tenBenhAn]='tenBenhAn'
  [ketquaCLS]='ketquaCLS'></app-tong-ket-benh-an>
